.pokemon-details-name{
    font-size: xx-large;
    color: white;
    margin-top: 1rem;
}
.pokemon-details-name>span{
    letter-spacing: 5px;

}
.pokemon-details-types{
    display: flex;
    gap: 3rem;
    margin-top: 2rem;
    font-size: larger;
}

.pokemon-details-types div{
    border: 2px solid white;
    border-radius: 20%;
    padding: 5px;
    background-color: rgb(7, 73, 73);


}